<nav class="flex grow gap-0 justify-between self-stretch w-full bg-white">
    <aside class="flex flex-col flex-1 justify-between pt-8">
      <header class="flex flex-col px-6 max-md:px-5">
        <div class="flex gap-3 justify-between pr-5 text-xl font-semibold leading-6 text-violet-500">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/0569b76d132ddef03b54eb59bfb971adaee41a319c440252464c587f7c5cd07a?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="" class="w-8 aspect-square" />
          <h1 class="flex-auto my-auto">Carrière <span class="text-violet-500">Pro</span></h1>
        </div>
        <section class="flex flex-col justify-center px-3.5 py-2.5 mt-6 w-full text-base leading-6 text-gray-500 whitespace-nowrap bg-white rounded-lg border border-solid shadow-sm border-[color:var(--Gray-300,#D0D5DD)]">
          <div class="flex gap-2 justify-between">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ce8f75f9fac46ea9c19d721687c414b5591f8f309e14174308b5cec679370a87?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Search icon" class="my-auto w-5 aspect-square" />
            <span class="flex-auto">Chercher</span>
          </div>
        </section>
      </header>
      <main class="flex flex-col px-4 mt-6 text-base font-semibold leading-6 whitespace-nowrap text-slate-700">
        <a class="flex flex-col justify-center  bg-gray-50" routerLink="/dashboard" routerLinkActive="text-violet-500">
          <div class="flex flex-col justify-center items-start py-2 pr-16 pl-3 w-full bg-gray-50 rounded-md max-md:pr-5">
            <div class="flex gap-3">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3a6dfb028dfb8763c926725a9142e8539ca9a56060c6732be8336e9a64c833f1?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Dashboard icon" class="w-6 aspect-square" />
              <h2 class="grow">Dashboard</h2>
            </div>
          </div>
        </a>
        <a class="flex gap-5 justify-between px-3 py-2 mt-1 w-full bg-white rounded-md" routerLink="expoitant/new" routerLinkActive="text-violet-500">
          <div class="flex gap-3 justify-between">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/49c4ae0c5559346192d1daf86a9e031686bda5e174c2e667ccca81ff08c132ee?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Exploitants icon" class="w-6 aspect-square" />
            <h2 class="grow">Exploitants</h2>
          </div>
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6001479e763c058342809cc110e580b9fb209d86b27b7481fbd4c74de5ef0489?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Next icon" class="my-auto w-5 aspect-square" />
        </a>
        <section class="flex gap-5 justify-between px-3 py-2 mt-1 w-full bg-white rounded-md">
          <div class="flex gap-3 justify-between">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/65895b231b321d7d58b30dd784bb908855f6317247e760bd7c3d274620feae36?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Carrières icon" class="w-6 aspect-square" />
            <h2>Carrières</h2>
          </div>
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6001479e763c058342809cc110e580b9fb209d86b27b7481fbd4c74de5ef0489?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Next icon" class="my-auto w-5 aspect-square" />
        </section>
        <section class="flex gap-5 justify-between px-3 py-2 mt-1 w-full bg-white rounded-md">
          <div class="flex gap-3 justify-between">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f5837f9d575122374529dbbcd3902490fff37c23327807efb464d802f143d790?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Correspondances icon" class="w-6 aspect-square" />
            <h2 class="grow">Correspondances</h2>
          </div>
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6001479e763c058342809cc110e580b9fb209d86b27b7481fbd4c74de5ef0489?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Next icon" class="my-auto w-5 aspect-square" />
        </section>
        <section class="flex flex-col justify-center items-start py-2 pr-16 pl-3 mt-1 w-full bg-white rounded-md max-md:pr-5">
          <div class="flex gap-3">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2eb19f9c09fe33ca27260caa6f975a7b0b81df8c8931fe7dfa28b79f3cdb5978?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Statistiques icon" class="w-6 aspect-square" />
            <h2 class="grow">Statistiques</h2>
          </div>
        </section>
        <section class="flex flex-col justify-center items-start py-2 pr-16 pl-3 mt-1 w-full bg-white rounded-md max-md:pr-5">
          <div class="flex gap-3">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a3a00acb6b8f87e88c3b7a375c944ed7491ad4831d1844604710d890751f74dd?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Rapports icon" class="w-6 aspect-square" />
            <h2>Rapports</h2>
          </div>
        </section>
        <section class="flex flex-col justify-center items-start py-2 pr-16 pl-3 mt-1 w-full bg-white rounded-md max-md:pr-5">
          <div class="flex gap-3">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/0b9450e6e2be0d4040c54a73c84fb8b967963b141a0bb341ae92f41769471007?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Utilisateurs icon" class="w-6 aspect-square" />
            <h2 class="grow">Utilisateurs</h2>
          </div>
        </section>
      </main>
      <footer class="flex flex-col px-4 pb-8 mt-[1524px] max-md:mt-10">
        <section class="flex flex-col justify-center items-start py-2 pr-16 pl-3 w-full text-base font-semibold leading-6 whitespace-nowrap bg-white rounded-md text-slate-700 max-md:pr-5">
          <div class="flex gap-3">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/43eaec17c7b833223056db57776160be2a89cf7159f30e26079b03356878d09f?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Support icon" class="w-6 aspect-square" />
            <h2>Support</h2>
          </div>
        </section>
        <div class="shrink-0 mt-6 h-px bg-gray-200"></div>
        <section class="flex gap-5 justify-between px-2 mt-6 text-sm leading-5">
          <div class="flex gap-3 justify-between">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8bcbfb7c5bf5a1dfe9715c14e4b1904b8cf6b1a431f39a6562dc57f4b624f486?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="User profile" class="w-10 aspect-square" />
            <div class="flex flex-col flex-1">
              <strong class="font-semibold text-slate-700">Reda Ben</strong>
              <span class="text-slate-600">reda@carrierespro.ma</span>
            </div>
          </div>
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6ace53074abb4f5c422220202e95e6722f758f1e24784241a4ffc694f971cfb1?apiKey=e8f39798df954c9d8e0f9c4dcfadf582&" alt="Settings icon" class="self-start w-5 aspect-square" />
        </section>
      </footer>
    </aside>
    <div class="w-px bg-gray-200 h-[2145px]"></div>
  </nav>